- include_stylesheet 'admin/assets'
= render_region :top 

#assets_table
  = render :partial => 'asset_table', :locals => { :assets => @assets }

= render :partial => 'assets_container'
  
- render_region :bottom do |bottom|
  - bottom.regenerate do
    - if current_user.admin?
      %p= t('regenerate_thumbnails_description')
      - form_tag refresh_admin_assets_path do
        %input.button{ :type => "submit", :value => t('regenerate') }

  - bottom.buttons do
    #actions
      = pagination_for @assets
      %ul
        %li= link_to image('plus') + " " + t('new_asset'), new_admin_asset_path
